.animation (@name,@duration,@timeFunc,@delay,@iterCount,@direction: normal) {
	/* 动画名称 */
	animation-name: @name;
	/* 动画持续时间 */
	animation-duration: @duration;
	/* 属性变化速度函数 
	* ease: 逐渐变慢
	* linear: 匀速
	* ease-in: 加速
	* ease-out: 减速
	* ease-in-out: 先加速后减速
	*/
	animation-timing-function: @timeFunc;
	/* 播放动画的等待时间 */
	animation-delay: @delay;
	/* 动画播放次数
	* infinite: 无限次
	*/
	animation-iteration-count: @iterCount;
	/* 动画播放方向 
	* normal: 每次都向前播放
	* alternate: 偶数次向前，奇数次向后
	*/
	animation-direction: @direction;
}

@keyframes bg-color {
	0% {
		background: #cd6efa;
	}
	50% {
		background: #afe6dc;
	}
	100% {
		background: #efacd6;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* 加载动画 */
.m-loader {
	position: relative;
	height: 100px;
	width: 100px;

	border-radius: 100%;
	animation: rotate 1s linear 0s infinite normal;

	.loader-ball {
		position: absolute;
		top: -13px;
		left: 37px;
		width: 26px;
		height: 20px;

		border-radius: 100%;
		animation: bg-color 4s linear 0s infinite alternate;
	}
	.large-ball {
		top: 14px;
		left: 70px;
		width: 30px;
		height: 40px;
		animation: bg-color 2s ease-out 0s infinite alternate;
	}

	.small-ball {
		top: 10px;
		left: 6px;
		width: 15px;
		height: 15px;
		animation: bg-color 3s ease-in-out 0s infinite alternate;
	}
}