*{
	margin: 0;
	padding: 0;

}
#content{
	width: 1386px;
	height: 980px;
	margin: 0 auto;
}
#header{
	position: relative;
	width: 892px;
	height: 61px;
	margin: 0 auto;
	border-bottom: 2px solid #938e8c;
}
#header div{
	width: 110px;
	height: 100%;
	float:left;
	background-color: #d45d5c;

}
#header div span{
	position: absolute;
	bottom: 0;
	font-size: 12px;
	font-family: 黑体;
	color: #ffffff;
	line-height: 100%;
}
#header > span{
	position: absolute;
	right:0;
	bottom: 0px;
	color: #d45d5c;
	font-size: 12px;
	font-family: 黑体;
	line-height: 100%;
}
#dv1{
	width: 892px;
	height: 301px;
	margin:20px auto;
}

#fig1{
	float:left;
	width: 604px;
	height: 301px;
	margin:0;
	background-image: url(1.jpg);
	background-repeat: no-repeat;
}
#fig1 div{
	width: 191px;
	height: 301px;
}
#fig1 .left{
	float:left;
	background-color: #75b86b;
	opacity: 0.5;
}
#fig1 .right{
	float: right;
	background-color: #cc8091;
	opacity: 0.5;
}
#text1{
	float:right;
	margin-right: 20px;
	position: relative;
	width: 203px;
	height: 301px;
	border-top: 2px solid #cc8091;
}
#dv2{
	width: 892px;
	margin: 0 auto;

}
#dv2 div{
	margin-right: 20px;
}
#dv2 .ph1{
	float:left;
	width: 228px;
	height: 172px;
}
#dv2 .what{
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 100%;
	font-weight: bold;
	font-family: 微软雅黑;
	text-decoration: underline;
	color:#418c59;
}
#dv2 .what + p{
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	font-family: 宋体;

}
#dv2 .ph2{
	float: left;
	height: 172px;
	width: 204px;
}
#dv2 .when{
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 100%;
	color: #d2994f;
	font-weight: bold;
	text-decoration: underline;;
}
#dv2 .when + p{
	font-size: 12px;
	line-height: 16px;
	font-family: 微软雅黑;
	opacity: 0.7;
}
#dv2 .ph3{
	float: left;
	height: 172px;
}
#dv2 .how{
	margin-bottom: 12px;
	font-size: 16px;
	color: #cc7680;
	text-decoration: underline;
	font-weight: bold;
	line-height: 100%;
}
#dv2  .ph3 p{
	font-size: 12px;
	line-height: 16px;
	font-family: 微软雅黑;
	opacity: 0.7;
	margin-top: 0;
	margin-bottom: 10px;
}
#dv2 span{
	font-size: 12px;
	color: #cd4a48;
	font-family: 微软雅黑;
	font-style: italic;
	line-height: 100%;
	opacity: 0.7;
}
#dv3{
	width: 892px;
	margin: 20px auto;
}
#dv3 .left{
	float:left;
	width: 415px;
}
#dv3 .title{
	width:100%;
	border-bottom: 2px solid #11456b;

}
#dv3 .title p{
	margin:16px;
	font-size: 42px;
	color: #11456b;
	font-family: 黑体;
	font-weight: bold;
	line-height: 100%;
}
#dv3 .title span{
	font-size: 72px;
	line-height: 100%;
	color: #f5e327;
	
	
	font-style: italic;
}
#dv3 .title .zn{

	font-size: 33px;
	line-height: 100%;
	
}
#dv3 .left .sec{
	width: 100%;
}
#dv3 .left .sec p{
	font-size: 12px;
	color: #767777;
	font-family: 宋体;
	line-height: 16px;
	opacity: 0.7;
}
#dv3 .left .sec .subdv1{
	float:left;
	width: 75px;
	font-size: 70px;
	line-height: 100%;
	color: #f5e327;
	font-family: 微软雅黑;
	margin-top: 16px;
	
	box-sizing:border-box;
}
#dv3 .left .sec .subdv2{
	float: left;
	width: 340px;
	margin-top: 20px;
}

#dv3 .left .sec .subdv3{
	float:right;
	width: 160px;
	height: 300px;
	margin: 15px 0px 0px 8px;
	background-image: url(3.jpg);
	background-repeat: no-repeat;
}
#dv3 .right{
	float:right;
	position: relative;
}
#dv3 .right .fig{
	
	position: relative;
	width: 458px;
	height: 258px;
	background-image: url(2.jpg);
	background-repeat: no-repeat;
	margin-top: 20px;
}
#dv3 .right .fig .zn{
	position: absolute;
	bottom: 0;
	width: 458px;
	height: 61px;
	background-color: black;
	opacity: 0.7;
}
#dv3 .right .fig .zn div{
	position: relative;
	top:50%;
	left:50%;
	margin-top:-18px;
	margin-left: -184px;
	width: 80%;
	height: 60%;
	border-left: 3px solid #72b16a;
}
#dv3 .right .fig .zn p{
	font-size: 26px;
	line-height: 36px;
	color: white;
	font-family: 微软雅黑;
	
	
}
#dv3 .right .fig .zn span{
	font-size: 12px;
	color: #72b16a;
	font-style: italic;
	font-family: 微软雅黑;
	line-height: 12px;
	letter-spacing: 140%;
}
#dv3 .right .sec {
	position: relative;
	width: 459px;
	height: 318px;
	background-color: #efefd0;
	margin-top: 60px;
}
#dv3 .right .sec  .dv{
	position: absolute;
	bottom: 0px;
	width: 440px;
	
}
#dv3 .right .sec .subdv1{
	position: absolute;
	width: 100%;
	margin:20px auto;
}
#dv3 .right .sec .subdv1 p{
	font-size: 16px;
	color: #5a5b5b;
	font-family: 宋体;
	text-align: left;
	line-height: 100%;
	margin-bottom:20px; 
}
#dv3 .right .sec .subdv1 span{
	font-size: 12px;
	color: #5a5b5b;
	font-family: 宋体;
	font-style: italic;
	text-align: right;
}
#dv3 .right .sec .subdv2{
	float:left;
	position: relative;
	bottom: 0px;
	width: 260px;
	height: 160px;
	 background-color:#d45d5c;
	margin-right: 10px;
}
#dv3 .right .sec .subdv2 .subdv21{
	float:left;
	position: absolute;
	height: 110px;
	top:50%;
	margin-top: -55px;

	height: 110px;
}
#dv3 .right .sec .subdv2 .subdv21 p{
	font-size:110px;
	color: white;
	font-family: 微软雅黑;
	line-height: 100%;
}

#dv3 .right .sec .subdv2 .subdv22{
	float:right;
	position: absolute;
	height: 86px;
	top:50%;
	margin-top: -43px;
	margin-left: 70px;
	height: 86px;
	border-left: 2px solid white
}
#dv3 .right .sec .subdv2 .subdv22 .p1{
	font-size: 21px;
	color: white;
	font-family: 黑体;
	font-style: italic;
	line-height: 24px;
}
#dv3 .right .sec .subdv2 .subdv22 .p2{
	font-size:12px;
	font-family: 黑体;
	line-height: 100%;
	margin-bottom: 6px;
	color: white;
}
#dv3 .right .sec .subdv3{
	float:right;
	
}
#dv3 .right .sec .subdv3 p{
	font-size: 14px;
	color: #5a5b5b;
	font-family: 黑体;
	font-style: italic;
	line-height: 16px;
}
#dv3 .right .sec .subdv3 div span{
	font-family: 黑体;
	font-size: 72px;
	line-height: 72px;
	color: #d45d5c;
	text-align: left;
	
}

#dv3 .right .sec .subdv3 .quote1{
	float:left;
	height: 26px;
	width: 30px;

}
#dv3 .right .sec .subdv3 .quote1 span{
	margin-left: -40px;
}
#dv3 .right .sec .subdv3 .quote2{
	float:right;
	height: 16px;
	width: 16px;
}
#dv3 .right .sec .subdv3 .ph1{
	float:left;
	height: 26px;
	width: 130px;
	margin-left: 10px;
	position: relative;
}
#dv3 .right .sec .subdv3 .ph1 p{
	position: absolute;
	bottom: 0;
}
#dv3 .right .sec .subdv3 .ph3{
	float:left;
}
#dv3 .right .sec .subdv3 .quote2 span{
	margin-left: -20px;
}
footer{
	width: 892px;
	height: 16px;
	border-top: 1px solid #938e8c;
	margin: 20px auto;
}
footer p{
	float:right;
	color: #d45d5c;
	font-size: 12px;
	line-height: 100%;
	font-family: 黑体;
}