*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#content{

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;;
}
#content > div{
  padding: 20px;
  width: 190px;

}

[class*='red'] div{
  border: 1px #f00 solid;
  width: 150px;
}

.blue div{
  border: 1px #00f solid;
  width: 150px;
  height: 200px;

}

.red1 div{
  height: 120px;
}
.red2 div{
  height: 100px;

}
.red3 div{
  height: 40px;
}
@media screen and (max-width:640px){
  .blue{
    order: 1;
  }
  [class*='red']{
    order:2;
  }
  #content{
    align-items: flex-start;
  }
}
