*{
  padding: 0;
  margin: 0;
}
#space{
  float:left;
  position: relative;
  width: 47%;
  height: 400px;
  background-color: black;
}
#space #planet{
  position: absolute;
  width:80px;
  height: 80px;
  border-radius: 40px;
  background-color: cyan;
  margin: -40px;
  top:50%;
  left:50%;
}
#space [id*='ship']{
  position: absolute;
  background-color: blue;
  top:30%;
  left:50%;
  width:80px;
  height: 20px;
  margin-left: -40px;
  transform-origin: 50% 80px;
  font-size:14px;
  color: white;
  border-radius: 10px;
}
#state-board{
  float:right;
  position: relative;
  height: 400px;
  width: 47%;
  overflow: auto;
  border: 2px solid #efefef;
}
#state-board table{
  margin: 10px;
  margin-left: 30px;
border-collapse: collapse;
text-align: left;
}
#state-board th{
  border: 2px solid black;
}

#ship-board,#command-border{
  clear:both;
}
label{
  display: inline-block;
}
#add-ship{
  display: block;
}
