div{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid black;
}
#tree{
  margin: 0 auto;
  display: flex;
  width: 60%;
  height: 250px;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
#tree > div{
  display: flex;
  flex-flow: row;
  align-items: inherit;
  justify-content: inherit;
  width: 98%;
  height: 45%;
}
#left div{
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 45%;
  height: 90%;
}
#right  div{
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 45%;
  height: 90%;
}
fieldset{
  width: 30%;
  margin: 10px auto;
  text-align: center;
}
