*{
	padding: 0;
	margin: 0;
}
#page{
	background-color: #efefef;	
}
#direct{
	position: fixed;
	background-color: rgba(0,0,0,0.85);
	top:0;
	width: 100%;
	height:50px;
	
}

#first_menu{
	position: absolute;
	display: block;
	margin-left: 20px;
}
#first_menu li{
	list-style-type: none;
	margin: 10px 20px 10px 0px;
	float:left;
	
}
#first_menu li a{
	text-decoration: none;
	text-shadow:2px 2px 2px black;
	font-size:1.5em;
	color: green;
}
#first_menu li a:hover{
	
	color: #FFC88E;
}
#article{
	width: 600px;
	height: 100%;
	margin:100px auto;
	display: none;
}
#article h1{
	font-family: Arial;
	font-size: 2em;
	border-bottom: 1px solid black;
}
#article ul{
	list-style-type: none;
	
}
#article li{
	margin-top: 1.5em;
	border-bottom: 1px solid gray;
	
	
}
.title{
	text-decoration: none;
	font-size: 1.5em;
	font-family: Arial;
	color: rgba(0,0,0,0.8);
	margin-bottom: 0.5em;
	text-shadow:0px 0px 1px black;
}
.date{
	float:right;
	font-family: Arial;
	color: gray;
	margin-top: 0.5em;
}
.category{
	color: blue;
	text-decoration: none;
	float: right;
	font-size: 1em;
	font-family: Arial;
	font-weight: bold;
	margin-right: 2px;
	margin-top: 0.5em;

}
#article>span{
	color: green;
	font-size: 1.5em;
	margin-top: 20px;
}
#back{
	float:left;
}
#next{
	float: right;
}
